root = true

[*]

# exemplos
# [*] todo arquivo
# [*js] todo arquivo .js
# [*.{js,json}] todos os arquivos terminados em js e json
# [lib/**/*.js] todo arquivo .js dentro dos subdiretórios de lib
# [package.json] todo arquivo de nome package.json
# [{package.json, .travis.yml}] todo arquivo de nome package.json e rodo arquivo com terminação de .travis.yml
# [!package.json] não conta o arquivo package.json

indent_size = 4
indent_style = tab
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
