
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}

body {
    background-image: linear-gradient(to right, #92c7a3, #3ca2a2);
    background-size: cover;
    height: 100vh;
}

